.news {
    margin-top: -13px;


}

.news .article {
    background-color: black;
    border-radius: 10px;
    color: whitesmoke;
    padding: 10px;
    margin-bottom: 5px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;

}