.news {
    margin-top: -243px;
    margin-left: 120px;
    margin-right: 10px;
}

.news .article {
    background-color: black;
    border-radius: 10px;
    color: whitesmoke;
    padding: 10px;
    margin-bottom: 5px;
}