.mainMenu {
    text-align: center;
    list-style-type: none;
    background-color: whitesmoke;
    border-radius: 10px;
    text-transform: uppercase;
}

.mainMenu a {
    color: black;
    text-decoration: none;
}

.mainMenu a:hover {
    color: red;
}

.mainMenu li {
    display: inline-block;
    margin: 5px;
    padding: 5px;
}
.nameMenu {
    margin-right: 600px;
}
